{% extends "layout.html.twig" %}

{% block title %}Informations générales{% endblock %}

{% block content %}
    <div class="container textstyle">
        {{ infoGenerales.content | raw }}
    </div>
{% endblock %}